/*
  Modern CSS Reset via https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "optic";
  src: url("./fonts/optic.woff2") format("woff2");
}

@font-face {
  font-family: "adhd-distracted";
  src: url("./fonts/ADHD-Distracted.woff2") format("woff2");
}

@font-face {
  font-family: "adhd-focused";
  src: url("./fonts/ADHD-Focused.woff2") format("woff2");
}

@font-face {
  font-family: "adhd-hyperactive";
  src: url("./fonts/ADHD-Hyperactive.woff2") format("woff2");
}

@font-face {
  font-family: "adhd-impulsive";
  src: url("./fonts/ADHD-Impulsive.woff2") format("woff2");
}

@font-face {
  font-family: "method-regular";
  src: url("./fonts/Method-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "method-book";
  src: url("./fonts/Method-Book.woff2") format("woff2");
}

@font-face {
  font-family: "macabre";
  src: url("./fonts/Macabre-Regular.woff2") format("woff2");
}

html {
  --color-background: #fff4ed;
  --color-foreground: #2c2c2c;
  --color-accent-primary: #ff0055;
  --color-accent-secondary: #c7e409;

  --font-standard: "method-book", arial, sans-serif;
}

::selection {
  background-color: var(--color-accent-secondary);
}

.section-heading {
  font-family: "macabre";
  overflow: hidden;
  position: relative;
  transform: translateY(1.8rem);
  z-index: 10;
}

.section-heading .content {
  display: inline-block;
  filter: url("#heading-blur") url("#edge-noise");
  padding: 0 0.75rem;
  font-size: 12rem;
  transform: scaleY(1.5);
  transform-origin: left;
}

.section-heading .falloff {
  display: inline-flex;
  filter: url("#falloff-blur") url("#edge-noise");
}

.section-heading .falloff span {
  transform-origin: left;
}

.section-heading .falloff span:nth-of-type(1) {
  font-size: 3.75rem;
  transform: scaleX(2.75) rotate(5deg);
}

.section-heading .falloff span:nth-of-type(2) {
  font-size: 3.25rem;
  transform: scaleX(2.5) translate(3.8rem, 0.8rem) rotate(-6deg);
}

.section-heading .falloff span:nth-of-type(3) {
  font-size: 2.5rem;
  transform: scaleX(2.25) translate(7.25rem, 1.25rem) rotate(4deg);
}

.section-heading .falloff span:nth-of-type(4) {
  font-size: 2rem;
  transform: scaleX(2) translate(10.2rem, 2.2rem) rotate(8deg);
}

.section-heading .falloff span:nth-of-type(5) {
  font-size: 1.5rem;
  transform: scaleX(1.75) translate(13.1rem, 3.3rem) rotate(9deg);
}

.section-heading .falloff span:nth-of-type(6) {
  font-size: 1rem;
  transform: scaleX(1.5) translate(16.2rem, 4rem) rotate(10deg);
}

html,
body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-standard);
  margin: 0;
  padding: 0;
}

[role="banner"] {
  --offset: 0.75rem;
  position: relative;
  height: calc(100dvh - var(--offset));
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.banner-contents {
  background: var(--color-accent-primary);
  border-radius: 1rem 1rem 0 0;
  flex: 1;
  left: var(--offset);
  margin-bottom: var(--offset);
  max-width: 100%;
  overflow: hidden;
  position: relative;
  top: var(--offset);
  width: calc(100% - var(--offset) * 2);
}

.banner-title {
  color: var(--color-background);
  font-size: 11.8vw;
  line-height: 0.83;
  margin: 0;
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  z-index: 2;
}

.title-effected {
  filter: url("#title-blobs") url("#edge-noise-animated");
  font-family: "optic";
}

.title-fair {
  letter-spacing: -0.44vw;
}

.title-ride {
  letter-spacing: -0.46vw;
}

.banner-subtitle {
  transform: translateY(-9.2vw);
  float: right;
  width: 53.6%;
}

.title-year {
  animation: adhd 0.6s linear infinite alternate;
  color: var(--color-accent-primary);
  display: block;
  filter: url("#text-blur") url("#edge-noise-animated");
  font-family: "adhd-distracted";
  font-size: 112%;
  padding-right: 14.5vw;
  margin-bottom: -0.5rem;
}

.who-what {
  display: block;
  font-size: clamp(0.75rem, 2vw, 1.1rem);
  filter: url("#edge-noise");
  line-height: 1;
  opacity: 0.9;
  text-transform: none;
}

.who-what a {
  border-bottom: 2px solid currentColor;
  color: inherit;
  text-decoration: none;
}

.banner-video {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

@keyframes adhd {
  0% {
    font-family: "adhd-hyperactive";
  }

  50% {
    font-family: "adhd-distracted";
  }

  100% {
    font-family: "adhd-impulsive";
  }
}

.banner-marquee {
  --offset: 0.75rem;
  background: var(--color-foreground);
  border-radius: 0 0 1rem 1rem;
  color: var(--color-background);
  font-family: "adhd-impulsive";
  font-size: 1rem;
  padding: 0.3rem 0;
  width: calc(100% - var(--offset) * 2);
}

.banner-marquee b:nth-child(2n) {
  animation: adhd 0.6s linear infinite alternate;
  font-family: "adhd-hyperactive";
  color: var(--color-accent-primary);
}

.banner-marquee b:nth-child(3n) {
  font-family: "adhd-distracted";
}

.marquee {
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
}

.marquee-contents {
  animation: marquee 18s linear infinite;
  display: inline-flex;
  font-weight: bold;
  text-transform: uppercase;
}

.reversed .marquee-contents {
  animation-direction: reverse;
}

.marquee-contents span {
  display: inline-block;
  line-height: 1;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.opener {
  display: flex;
  gap: 2rem;
  padding: 1.25rem 1rem;
}

.opener sup {
  color: var(--color-accent-secondary);
  line-height: 1;
}

.intro {
  font-size: clamp(2rem, 2.8vw, 4rem);
  filter: url("#text-blur");
  line-height: 1.33;
  flex: 1 1 85%;
}

.the-joke {
  align-self: flex-end;
  font-size: 0.75rem;
  line-height: 2;
  max-width: 20ch;
  position: relative;
}

.the-joke sup {
  font-size: 150%;
  position: absolute;
  left: -0.5em;
}

.progress {
  padding: 1.5rem 0.75rem 3rem 0.75rem;
}

.meter {
  height: 5.5rem;
}

.meter-well {
  border-radius: 4rem;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.meter-well::before,
.meter-progress::before {
  border: 2px solid var(--color-foreground);
  content: "";
  display: block;
  filter: url("#edge-noise");
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.meter-well::before {
  border-radius: 4rem;
}

.meter-progress {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  padding: 0 0.75rem;
  position: relative;
  width: var(--percent-complete, 0);
}

.meter-progress::before {
  background: var(--color-accent-secondary);
  border-radius: 4rem 0 0 4rem;
}

.meter-complete-display {
  font-size: 2.25rem;
  font-family: "adhd-distracted";
  position: relative;
}

.progress-percentage {
  border-right: 2px solid currentColor;
  font-size: 0.75rem;
  line-height: 1;
  overflow: hidden;
  padding: 0.5rem 0.25rem 0 0.25rem;
  text-align: right;
  white-space: nowrap;
  width: var(--percent-complete, 0);
}

.progress-ticks {
  display: flex;
  font-family: "method-regular";
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  transform: translateY(-1.4rem);
}

.stats {
  padding: 2rem 0.75rem 3rem 0.75rem;
}

#stats-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.25rem;
}

.stat {
  align-items: center;
  color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  padding: 1rem;
  position: relative;
  text-align: center;
}

.stat::before {
  background: var(--color-accent-primary);
  border-radius: 1rem;
  content: "";
  display: block;
  flex: 1;
  filter: url("#edge-noise-animated");
  height: 100%;
  position: absolute;
  width: 100%;
}

.stat-title {
  position: relative;
}

.stat-detail {
  display: block;
  font-family: "adhd-distracted";
  font-size: 3.5rem;
  line-height: 0.875;
  margin-top: 0.5rem;
  position: relative;
}

.stat-detail small {
  font-size: 75%;
}

.rides {
  padding: 2rem 0.75rem 2rem 0.75rem;
}

#rides-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ride a {
  background: var(--color-foreground);
  border-radius: 1rem;
  display: grid;
  overflow: hidden;
  padding: 0.75rem;
  position: relative;
  text-decoration: none;
}

.ride :where(a:hover, a:focus) {
  outline: 3px solid var(--color-accent-primary);
}

.ride :where(a:hover, a:focus) .ride-distance {
  animation: adhd 0.6s linear infinite alternate;
}

.ride-content {
  background: linear-gradient(var(--color-foreground), rgba(0, 0, 0, 0));
  color: var(--color-background);
  grid-area: 1 / 1;
  max-height: 30%;
  padding: 0.5rem;
  position: relative;
  z-index: 2;
}

.ride-meta {
  margin: 0;
}

.ride-meta b {
  align-items: center;
  background: var(--color-accent-secondary);
  border-radius: 100%;
  color: var(--color-foreground);
  display: inline-flex;
  font-size: 0.75rem;
  font-family: "method-regular", sans-serif;
  justify-content: center;
  transform: translateY(-0.175rem);
  height: 1.2rem;
  width: 1.2rem;
}

.ride-distance {
  color: var(--color-accent-primary);
  font-family: "adhd-impulsive";
  font-size: 2.25rem;
  line-height: 1.1;
}

.ride-distance small {
  font-size: 75%;
}

.ride img {
  grid-area: 1 / 1;
  height: auto;
  transition: scale 0.2s ease;
  width: 100%;
}

.credits {
  color: var(--color-background);
  margin-top: 3.5rem;
  padding: 0.75rem;
}

.credits-contents {
  background-color: var(--color-foreground);
  border-radius: 1rem;
  padding: 8rem 1rem;
}

.divider {
  border-radius: 100%;
  margin: 2.5rem auto 0 auto;
  overflow: hidden;
  width: calc(100% - 6rem);
}

.divider-content {
  filter: url("#heading-blur") url("#edge-noise-animated");
  font-size: 1rem;
  font-family: "adhd-focused";
  transform: scaleX(1.25);
  white-space: nowrap;
}
