/*
  Modern CSS Reset via https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "optic";
  src: url("./fonts/optic.woff2") format("woff2");
}

@font-face {
  font-family: "adhd-distracted";
  src: url("./fonts/ADHD-Distracted.woff2") format("woff2");
}

@font-face {
  font-family: "adhd-hyperactive";
  src: url("./fonts/ADHD-Hyperactive.woff2") format("woff2");
}

@font-face {
  font-family: "adhd-impulsive";
  src: url("./fonts/ADHD-Impulsive.woff2") format("woff2");
}

html {
  --color-background: #fff4ed;
  --color-foreground: #2c2c2c;
  --color-accent-primary: #f73e00;

  --font-standard: sans-serif;
}

html,
body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-standard);
  margin: 0;
  padding: 0;
}

[role="banner"] {
  position: relative;
}

.banner-contents {
  --offset: 0.75rem;
  background: var(--color-accent-primary);
  border-radius: 16px;
  top: var(--offset);
  left: var(--offset);
  margin-bottom: var(--offset);
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: calc(100% - var(--offset) * 2);
}

.banner-title {
  color: white;
  font-size: 11.6vw;
  line-height: 0.83;
  margin: 0;
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  transform: translate(-0.55rem, -0.58rem);
}

.title-effected {
  filter: url("./images/title-effects.svg#title-blobs");
  font-family: "optic";
}

.banner-title .fair {
  letter-spacing: -0.39vw;
}

.banner-title .ride {
  letter-spacing: -0.45vw;
}

.banner-title .year {
  animation: adhd 0.6s linear infinite alternate;
  color: var(--color-accent-primary);
  display: block;
  font-family: "adhd-distracted";
  font-size: 112%;
  transform: translateY(-9.2vw);
  text-align: right;
  padding-right: 14.5vw;
}

.banner-video {
  width: 100%;
}

@keyframes adhd {
  0% {
    font-family: "adhd-hyperactive";
  }

  50% {
    font-family: "adhd-distracted";
  }

  100% {
    font-family: "adhd-impulsive";
  }
}

.banner-marquee {
  --offset: 0.9rem;
  color: var(--color-accent-primary);
  display: flex;
  font-size: 1.1rem;
  font-family: "adhd-impulsive";
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - var(--offset) * 2);
  z-index: 1;
}

.banner-marquee b:nth-child(2n) {
  font-family: "adhd-hyperactive";
}

.banner-marquee b:nth-child(3n) {
  font-family: "adhd-distracted";
}

.marquee-contents {
  animation: marquee 18s linear infinite;
  display: inline-flex;
  font-weight: bold;
  text-transform: uppercase;
}

.marquee-contents span {
  display: inline-block;
  line-height: 1;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
